.top-bar {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

#canvas {
  border: 3px solid #000;
  background: #fff;
}

button {
  cursor: pointer;
}

#postBtn:disabled {
  background: #888;
  cursor: not-allowed;
}

#artDesc {
  width: 220px;
}

.tools{
  margin-top: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.tools label{
  font-size: 14px;
}
