@font-face {
  font-family: 'GameShape';
  src: url('fonts/GameShape-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: black;
  color: #fff;
  text-align: center;
  margin: 0;
  font-family: Times new roman, sans-serif;
}

.logo {
  width: 450px;
  margin: 20px auto;
}

.menu {
  text-align: center;
  margin: 20px 0;
}

.menu .btn {
  display: inline-block;
  padding: 6px 14px;
  margin: 0 6px;

  font-family: 'GameShape', Arial, sans-serif;
  font-size: 34px;
  font-weight: normal;

  text-decoration: none;
  color: black;
  border: 2px solid black;
}


/* สีแต่ละปุ่ม */
.menu .main  { background: #00ff00; }
.menu .news  { background: #ff00ff; }
.menu .about { background: #ffcc00; }
.menu .shop  { background: #ff3300; }

/* Hover effect */
.menu .btn:hover {
  transform: scale(1.1);
}

.content {
  width: 650px;
  margin: 40px auto;
  border: 1px solid white;
  padding: 20px;
  background: black;
  box-sizing: border-box;
}

.content .item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.content img {
  max-width: 200px;
  height: auto;
}


.content .text h3 {
  margin: 0 0 5px 0;
  color: #0066ff;
}

.content .text p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.footer {
  margin-top: 30px;
}

.footer img {
  width: 110px;
  margin: 0 5px;
}

.footer p {
  font-size: 12px;
  margin-top: 10px;
}

