@font-face {
  font-family: 'GameShape';
  src: url('fonts/GameShape-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'EIgamesimple';
  src: url('fonts/EIgamesimple-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'EIgamesimple',EIgame simple;
  background-color: #f2f2f2;
    background-image:
        linear-gradient(rgba(0,0,0,0.15) 1px, transparent 5px),
        linear-gradient(90deg, rgba(0,0,0,0.15) 5px, transparent 5px);
    background-size: 90px 90px;
}

header {
  text-align: center;
  padding: 20px 0;
}

.logo {
  width: 600px;
}

/* ===== MENU ===== */
.menu {
  text-align: center;
  margin-bottom: 20px;
}
.menu a {
  font-family: 'GameShape';
  font-size: 40px;
  padding: 6px 14px;
  margin: 0 4px;
  text-decoration: none;
  color: black;
  display: inline-block;
}
.menu .main { background:#00ff00; }
.menu .news { background:#ff00ff; }
.menu .about{ background:#ffcc00; }
.menu .shop { background:#ff3300; }

/* ===== LAYOUT ===== */
.container {
  width: 900px;
  margin: auto;
  display: flex;
}

/* LEFT */
.sidebar {
  width: 220px;
  background: #aaa;
  padding: 10px;
  padding-top: 0;
}

.sidebar p {
    font-size: 20px;
    line-height: 1.4;
}

.sidebar h3 {
    font-family: 'GameShape';
    font-size: 40px; 
}

.sidebar a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
}

/* RIGHT */
.content {
  flex: 1;
  background: white;
  padding: 20px;
}

/* CONTENT BLOCK */
.block {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.block img {
  width: 180px;
  margin-right: 20px;
  cursor: pointer;
}
.block h2 {
  font-family: 'GameShape';
  color: blue;
  margin: 0;
}

.block p {
    font-size: 20px;
    line-height: 1.4;
}

.block p {
  margin-top: 5px;
}

footer {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

/* ===== NEWS ===== */
.news-item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.news-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #000;
}

/* ===== IMAGE ZOOM ===== */
#imgZoom {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#imgZoom img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px black;
}

.content h1, .content h2 {
  font-family: "EIgamesimple", EIgame simple;
}

.content p {
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 15px;
}

.about-art {
  text-align: right;
  margin-top: 20px;
}

.about-art img {
    max-width: 45%;
}

.shop-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.shop-center {
  text-align: center;
}

.shop-center img {
  max-width: 250px;
  margin-bottom: 10px;
}

.menu .active {
  outline: 3px solid black;
}

/* GRID FANART */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  gap: 20px;
  justify-content: start;
}

/* THUMBNAIL */
.fanart-thumb {
  width: 160px;
  height: 160px;

  object-fit: contain;
  object-position: center;

  background: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: 999;
  text-align: center;
}

.modal img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 60px;
}

#modal-credit {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
}






